@import "~bootstrap/scss/bootstrap.scss";

ul.actions {
  list-style: none;
  padding: 10px;
}

.hint {
  font-size: 90%;
}

form {
  max-width: 800px;
  .form-group {
    ul.actions {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  label {
    span.required {
      font-weight: bold;
      color: theme-color("danger")
    }
  }
}

.inbox {
  li.message {
    .header, a.title, .body {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .header {
      span.date {
        display: inline-block;
        width: 210px;
      }
      &.unread {
        span.date, a.title {
          font-weight: bold;
        }
      }
    }
    .body {
      font-size: 90%;
      color: #777;
    }
  }
}

.help {
  .search {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    input {
      border: none;
      outline: none;
      width: 90%;
    }
  }

}